@import 'menu-mobile.css';

body {
  margin: 0;
  border: 0;
  background-color: #121212;
  color: white;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

h1,
h2,
p {
  margin: 0;
}

main {
  color: #c4c4c4;
}

.helloWorld{
  color: #c4c4c4;
}

footer {
  padding: 2rem 0;
  text-align: center;
}

footer img {
  width: 14px;
  position: relative;
  top: 2px;
  margin: 0 1.5px;
}

footer p {
  display: inline-block;
}

footer span {
  color: rgba(155, 37, 179, 0.89);
  font-weight: bold;
  transition: .4s;
}

footer span:hover {
  color: rgba(101, 24, 180, 1);
}

[data-anime="js-scroll"] {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  transition: 0.5s;
}

[data-anime="js-scroll"].animation {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.projetos,
.about {
  background-color: #151515;
  z-index: 0;
  position: relative;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav {
  padding: 0 15%;
  display: flex;
  align-items: center;
  background-color: #151515;
  border-bottom: 2px solid #272727;
  font-weight: bold;
  height: 80px;
  transition: 0.3s;
}

nav.fixed {
  box-shadow: 0 4px 4px rgba(0,0,0,.3);
}

nav ul {
  display: flex;
  justify-content: end;
}

nav ul li {
  list-style: none;
  margin: 10px 30px;
}

nav ul li::after {
  content: "";
  display: block;
  border-bottom: 2px solid rgba(155, 37, 179, 0.89);
  margin-top: 5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li:hover::after {
  transform: scaleX(1);
}

nav p {
  padding: 10px;
  font-size: 1.3rem;
  width: 100%;
}

nav p a {
  color: rgba(155, 37, 179, 0.89);
  transition: 0.3s;
}

nav p a:hover {
  color: rgba(155, 37, 179, 0.89);

}

.main-section,
.about,
.experiencia,
.projetos {
  padding: 6.5% 15%;
  min-height: 35vh;
}

.first-Text{
  color: #c4c4c4;
  font-size: 20px;

}

section h1 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #c4c4c4;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 60vh;
  width: 100%;
}

.main-section .scroll{
  position: absolute;
  bottom: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.main-section .scroll p{
  padding: 1rem 0;
  display: inline-block;
}

.main-section .scroll img {
  animation: scroll-down 3s infinite forwards;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
}


.main-left {
  width: 30%;
  margin: 2rem 0;
}

.main-right {
  width: 60%;
  margin: 5rem 0;


}

.main-section h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.writterName {
  font-size: 40px;
  text-transform: uppercase;
  color: rgba(155, 37, 179, 0.89);
  font-weight: 600;
  letter-spacing: 2px;
}

.main-btn,
.about-description-btn {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.main-btn-linkedin,
.main-btn-github,
.about-description-btn-curriculo,
.about-description-btn-email,
.projetos__card-button {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 140px;
  border-radius: 8px;
  position: relative;
  background-color: #121212;
  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 40px;
}

.main-btn-linkedin::before,
.about-description-btn-email::before,
.projetos__card-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 9px;
  background: rgba(155, 37, 179, 0.89);
  background-size: 400%;
  animation: move infinite forwards 4s;
}

.main-btn-linkedin:hover,
.main-btn-github:hover,
.about-description-btn-curriculo:hover,
.about-description-btn-email:hover,
.projetos__card-button:hover {
  background-color: #272727;
  text-shadow: 1px 1px 3px #00bbc5;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.main-btn-github::before,
.about-description-btn-curriculo::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 9px;
  background: rgba(155, 37, 179, 0.89);
  background-size: 400%;
  animation: move infinite forwards 4s;
}

.main-btn-linkedin p,
.main-btn-github p,
.main-btn-github img {
  padding: 9px 0 5px;
}

.main-btn-linkedin img {
  margin-right: 5px;
}

.about-description-btn-curriculo p,
.about-description-btn-curriculo img,
.about-description-btn-email p,
.about-description-btn-email img,
.projetos__card-button p,
.projetos__card-button img {
  padding: 9px 0 5px;
}

.main-btn-linkedin img,
.main-btn-github img,
.about-description-btn-email img {
  width: 22px;
}

.about {
  display: flex;
  justify-content: space-around;
}

.about-description {
  line-height: 1.5rem;
  width: 70%;
}

.about h2 {
  margin-bottom: 1rem;
}

.about-description-btn {
  margin-top: 2rem;
}

.about-foto {
  min-width: 30%;
}

.about-foto img {
  border-left: 5px solid rgba(155, 37, 179, 0.89);
  filter: opacity(55%);
  transition: 0.4s;
  width: 80%;
}

.about-foto img:hover {
  filter: opacity(70%);
  border-left: 5px solid rgb(119, 6, 104);
}

.experiencia__wrapper {
  display: flex;
  flex-direction: column;
}

.experiencia__lugares {
  width: 1200px;
  cursor: pointer;
}

.experiencia__lugares ul {
  list-style: none;
  font-size: 1.1rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;

}

.skills-container{
  margin-top: 80px;
}
.skills{
  display: flex;
  justify-content: space-between;

}

.experiencia__lugares ul li.active {
  background-color: #151515;
  border-left: 2px solid rgb(119, 6, 104);
  font-weight: 600;
}

.experiencia__lugares li {
  padding: 10px;
  border-left: 2px solid #272727;
  transition: background-color 0.5s ease;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem;
  width: 100%;
}

.experiencia__lugares ul li:hover {
  background-color: #272727;
}

.experiencia__descricao {
  width: 60%;
  margin-left: 5rem;
  position: relative;
  line-height: 1.5rem;
}

.experiencia__descricao section {
  display: none;
}

.experiencia__descricao section.active {
  display: block;
}

.experiencia__descricao section.active.show-right {
  animation: 0.5s forwards show-right;
}

.experiencia__descricao h2 {
  font-size: 1.4rem;
  display: inline-block;
}

.experiencia__descricao span {
  font-size: 0.95rem;
  position: absolute;
  right: 0;
  top: 5px;
  font-weight: bold;
}

.experiencia__descricao-local {
  margin: 2rem 0;
  font-size: 0.85rem;
  color: #00d2df !important;
  font-weight: bold;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.projetos__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  margin-bottom: 5rem;
}

.projetos__card {
  width: 90%;
}

.projetos__card h2 {
  font-size: 1.3rem;
  margin: 2.5rem 0;
}

.projetos__card span {
  color: rgba(155, 37, 179, 0.89);
  font-size: 0.9rem;
  display: block;
  margin: 2rem 0;
}

.projetos__card-button img {
  width: 18px;
}

.projeto-img {
  border-left: 5px solid rgba(155, 37, 179, 0.89);
  width: 100%;
  transition: 0.5s;
}

.projeto-img:hover {
  transform: scale(110%);
  border-left: 5px solid rgba(101, 24, 180, 1);
}

.voltar {
  text-align: center;
}

.voltar a {
  color: rgba(155, 37, 179, 0.89);
  font-weight: bold;
  transition: 0.3s;
}

.voltar a:hover {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(148, 16, 165);
  border-radius: 5px;
}

::selection {
  background-color: rgb(148, 16, 165);
}

@media (max-width: 1325px) {
  .main-section h1{
    font-size: 1rem;
  }
  .main-section span {
    font-size: 2.2rem;
  }


  .principal .principal__input-cursor {
    height: 35px;
  }

  .main-section,
  .about,
  .experiencia,
  .projetos {
    padding: 6.5%;
  }
}

@media (max-width: 1300px){
  .main-left{
    display: none;
  }

  .main-right{
    justify-content: center;
  }

  .helloWorld{
  
    font-size: 15px;
  }


}

@media (max-width: 880px) {
  .main-section,
  .about,
  .experiencia,
  .projetos {
    padding: 22% 0;
    text-align: center;
  }

  .main-section {
    flex-direction: column;
  }

  .main-right{
    width: 90%;
  }

  .main-left {
    display: none;
  }

  .about {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .about-foto {
    max-width: 80%;
  }

  .about-description {
    width: 80%;
  }

  .main-btn,
  .about-description-btn {
    width: 320px;
    margin: 1rem auto;
  }

  .experiencia__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .experiencia__lugares {
    width: 250px;
  }
  .experiencia__lugares li {
    border-left: none;
    border-bottom: 2px solid #272727;
  }

  .experiencia__lugares ul li.active {
    background-color: #151515;
    border-left: none;
    border-bottom: 2px solid rgb(148, 16, 165);
    font-weight: 600;
  }

  .experiencia__descricao {
    margin-left: 0;
    margin-top: 2rem;
    min-height: 46vh;
    width: 90%;
  }
  .experiencia__descricao span {
    display: block;
    position: inherit;
  }

   .projetos__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5%;
    margin-bottom: 10rem;
  }

  .skills{
    flex-direction: column;
    
    padding: 0;
    
  }

  .skills li{
    margin: 5px;
    
  }


  .projetos__card-button {
    margin: auto;
  }
}

@media (max-width: 460px) {
  .main-section span {
    font-size: 1.8rem;
  }

  .main-section .principal__input-cursor {
    height: 30px;
  }

  .main-btn-linkedin,
  .main-btn-github,
  .about-description-btn-curriculo,
  .about-description-btn-email,
  .projetos__card-button {
    width: 110px;
  }

  .main-btn,
  .about-description-btn {
    width: auto;
    justify-content: space-around;
  }

  footer {
    font-size: 0.8rem;
  }
}
